/**********************************************************************************common class**********************/
/********************************************************/
*{
    padding: 0px;
    margin: 0px;
/*    background: #BEC0C2;*/
}
body{
    background: #BEC0C2;
}
.relative{
    position: relative;
}
.absolute{
    position: absolute;
}
.box{
    width: 84.2631578%;
    margin: 0 auto;
}
.container{
    width: 91.44350097%;
    width: 100%;
    margin: 0 auto;
}
.p1{
    padding: 0.50rem;
}
.p2{
    padding: 0.75rem;
}
.p3{
    padding: :1rem;
}
.p3{
    padding: 1.5rem;
}
.p4{
    padding:2rem;
}
.p5{
    padding: 3rem;
}
.primary-font{
    font-family: Arial, Helvetica, sans-serif;
}
.relaive{
    position: relative;
}
.absolute{
    position: absolute;
}
.w100{
    width: 100%;
}
.content-container{
    width: 87.71250%;
    margin: 0 auto;
}
.align-center{
    text-align: center;
}
.section-head{
    font-size: 2rem;
}


/***********************************************************************************Nav Bar**********************/
/********************************************************/



#navbar{
    background: #fff;
/*    display: none;*/
    height: 70px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);   
}
#navbar .nav-container i{
    color: #4e5052;
}
#navbar .nav-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    justify-content: center;
    font-size: 1rem;
}
#navbar .nav-container>*>.image>img{
    width: 135px;
    height: 35px;
}
#navbar .nav-container>div>*:not(.menu){
    padding: 0rem 1rem;
}
#navbar .nav-container>div>.menu i{
    align-items: center;
    justify-content: center;
    font-size: 2rem;
/*    margin-bottom: 20px;*/
}
#navbar .nav-container>.image{
    grid-column: 2/span 10;
}
#navbar .nav-container *:not(.menu)>*{
    display: inline-block;
}
.country{
    display: inline-block;
    grid-column: 5/span 2;
}
#navbar .nav-container i{
    font-size: 1.5rem;
/*    line-height: 60px;*/
    opacity: 0.60;
    
}
#navbar .nav-container ul li:hover i{
    opacity: 2;
    transition: all 0.3s;
}
#navbar .nav-container p{
    align-items: center;
}
#navbar .nav-container ul{
    display:inline-block;
    grid-column: 3/span 6;
}
#navbar .nav-container ul{
    display:flex;
    justify-content: flex-start;
    align-items: flex-start;
    line-height: 60px;
}
#navbar .nav-container ul li{
    padding:0.5rem 1rem;
    color: #4e5052;
    cursor: pointer;
}


/********************************************************************************showcase************************/


#showcase{
    height: 55vh;
    width: 100%;
    background-image: url(image/hp10p2-cloud-trial-test-drive.jpg);
    background-size: cover;
}
#showcase img{
    width:100%;
    height: 100%;
}
#showcase .show-info{
    display: grid;
    width: 100%;
    height: 55vh;
    grid-template-columns: repeat(2,1fr);
}
#showcase .show-info .blank{
    content: ' ';
    display: block;
}
#showcase .show-info .content{
    margin-top: 20vh;
    color: #fff;
    font-size: 2rem;
    text-align: left;
    font-weight: 400 !important;
}
#showcase .show-info .content h2{
    font-weight: 700;
    text-shadow: 2px 2px rgba(0,0,0,0.8);
}
#showcase .show-info .content .btn:not(i){
    font-size: 1.1rem;
    margin-top: 1.5rem;
    padding:1rem 1.5rem;
    display: inline-block;
    border:#fff 3px solid;
    cursor: pointer;
    width: 200px;
    box-sizing: border-box;
}
#showcase .show-info .content .btn i{
    margin-left: 10px;
}
#showcase .show-info .content .btn:hover{
    background: #fff;
    color: #00758F;
    transition: all 0.2s;
}
#showcase .show-info .content .btn:hover i{
    margin-left: 15px;
    transition: all 0.2s;
}


/*********************************************************************************Actions Section*******************
*********************************************************/

#action{
    background: #212929;
    color:#fff;
    z-index: 99999;
}
#action .content .row{
    width:  100%;
}
#action .content .row{
    display: grid;
    grid-template-columns: repeat(15,7.14%);
}
#action .content .row .list{
    grid-column: 3/span 11;
    display: flex;
    justify-content: space-around;
}
#action .content .row>h3{
    grid-column: 1/span 2;
}
#action .content .row .h-text{
    cursor: pointer;
}
#action .content .row>*{
    padding:1.5rem 1rem;
    text-align: center;
    box-sizing: border-box;
    font-size: 1rem;
}
h3{
    display: inline-block;
}
#action .content .row h3{
    font-size: 1.6rem;
    align-items: center;
    display: flex;
    justify-content: center;
}
#action .content .row .h-text{
    align-items: center;
    display: flex;
    justify-content: center;
}
#action .content .row .list i{
    font-size: 1.5rem;
    height: 3.5rem;
    line-height: 3.5rem;
    border-radius: 100%;
    width: 3.5rem;
    display: inline-block;
    color: #fff;
    margin: 0.5rem;
    background: #386166;
}
#action .content .row .list .items:hover i{
    background-color: #fff !important;
    color: #386166 !important;
    cursor: pointer !important;
    transition: all 0.2s;
}
#action .content .row .list .items{
    cursor: pointer;
}
#action .content .row .h-text i{
    font-size: 2rem;
    padding: 0.5rem;
}
/*************************************************************************************New Section*******************
*********************************************************/

#new-container{
    background: #DEE0E0;
    width: 100%;
}
#new-container .content-container div{
    width: 100%;
}
#new-container .content-container .row{
    width: :100%;
    display: flex;
    justify-content: space-between;
    padding-bottom: 4rem;
}
#new-container .content-container .row .new-card{
    height: 100%;
}
#new-container .content-container .row *{
    width: 23.0714285714%;
    cursor: pointer;
}
#new-container .content-container .row .new-card img{
    margin: 0px;
    padding: 0px;
    width: 100%;
}

#new-container .content-container .row .new-card .head p{
    font-weight: 600;
    color: #fff;
    width: 100%;
    box-sizing: border-box;
}
#new-container .content-container .row .new-card .head{
    padding: 1.5rem;
    background: #4E5052;
    box-sizing: border-box;
    width: 100%;
    display: flex;
    justify-content: space-between;
    grid-template-columns: repeat(5,1fr);
}
#new-container .content-container .row .new-card .head i{
    font-size: 1.5rem;
    color: #fff;
    line-height: 100%;
    text-align: right;
}
#new-container .content-container .row .new-card .content{
    background: #fff;
    width: 100%;
    padding: 1.5rem;
    box-sizing: border-box;
    color: #555;
}

/***********************************************************************************Video Section*******************
*********************************************************/

#video-section{
    width: 100%;
    background: #233540;
    color: #fff;
}
#video-section .video-info{
    display: flex;
    grid-template-columns: repeat(2,1fr);
    padding: 5rem;
}

#video-section .video-info .video-data .p01{
    font-size: 3rem;
    text-align: left;
}

#video-section .video-info .video-data .p02{
    font-size: 1.5rem;
    text-align: left;
    padding:1.5rem 0rem;
}

#video-section .video-info .video-data .p03{
    font-size: 1rem;
    text-align: left;
}

#video-section .video-info .video-data .p04{
    font-size: 1rem;
    text-align: left;
    padding:1.5rem 0rem;
}

#video-section .video-info .play-video img{
    cursor: pointer;
}

.btn{
    padding:1rem 1rem;
    display: inline-block;
    font-size: 1rem;
    font-weight: 700;
    width: 18rem;
}    
.white-btn{
    background: #fff;
    color: #233540;
    border:solid 2px #fff;
}
.white-btn:hover{
    background: #233540;
    color: #fff;
    cursor: pointer;
    transition: all 0.3s;
}
.dark-btn:hover i, .white-btn:hover i{
    margin-left: 0.3rem;
    transition: all 0.3s;
}
/**********************************************************************************Downloads Section***************/
#downloads-section{
    background: #F2F4F5;
    width: 100%;
}
#downloads-section p{
    text-align: center;
}
#downloads-section .first-p{
    font-size: 1.5rem;
    font-weight:600; 
}
#downloads-section .second-p{
    font-size: 3rem;
    padding: 1rem;
}
#downloads-section .data .service-row{
    display: flex ;
    justify-content: space-between;
    width: 100%; 
}
#downloads-section .service-row .service-card{
    width: 31.64285718%;
}
#downloads-section .service-row .service-card img{
    width: 100%;
}
#downloads-section .service-row .service-card .inner-data{
    width: 90.29345374%;
    background: #fff;
    top: 16rem;
    left: 1.3rem;
    padding: 2rem;
    text-align: left;
    box-sizing: border-box;
}
#downloads-section .service-row .service-card .inner-data .p01{
    font-weight: 700;
    text-align: left;
    font-size: 1.2rem;
    padding-bottom: 1rem;
}
#downloads-section .service-row .service-card .inner-data .p02{
    text-align: left;
    color: #555;
}
#downloads-section .service-row .service-card .inner-data .btn{
    padding:1rem 1rem;
    display: inline-block;
    font-size: 1rem;
    font-weight: 700;
    width: 16rem;
    text-align: center;
}
#downloads-section .service-row .service-card .jdk{
    padding-bottom: 2.5rem;   
}
.dark-btn{
    background: #324b5c;
    color: #fff;
    bottom: -1.5rem;
    left: 3.5rem;
}
.dark-btn:hover{
    color: #324b5c;
    background: #fff;
    border:solid 0.1rem #324b5c;
    cursor: pointer;
}
#downloads-section .service-row .service-card .database{
    padding-bottom: 4.7rem;
}
#downloads-section .service-row .service-card .cloud{
    padding-bottom: 2rem;
}
#downloads-section .link{
    color:#137F97;
    text-align: center;
    margin-top:15rem;
    padding-bottom: 1rem;
    font-weight: 800;
    cursor: pointer;
}
#downloads-section .link:hover{
    text-decoration: underline;
}
/*****************************************************************************interest section**********************
*********************************************************/
#interest{
    width: 100%;
    background: #fff;
}

#interest .header{
    font-size: 2rem;
    text-align: center;
    padding: 4rem;
}
#interest .row{
    display: grid;
    grid-template-columns: repeat(9,1fr);
    padding-bottom: 4rem;
}
#interest .row .interest-card{
    text-align: center;
    cursor: pointer;
}
#interest .row .interest-card img{
    padding: 1rem;
}
#interest .row .interest-card:hover{
    text-decoration: underline;
}

/***********************************************************************************footer cards*******************/
#footer-cards{
    background: #4E5052;
    width: 100%;
}

#footer-cards .row{
    color: #fff;
    font-weight: 700;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    padding: 1rem;
    
}

#footer-cards .row .cards{
    text-align: center;
    cursor: pointer;
}

#footer-cards .row .cards img{
    padding: 1rem;
}



/*************************************************************************************Footer***********************/


#footer{
    width: 100%;
    background: #003B4D;
}

#footer .row{
    padding:2rem 0rem;
    display: grid;
    grid-template-columns: repeat(4,1fr);
}

#footer .row .cards .header{
    font-size: 1.5rem;
    color: #fff;
    padding-bottom: 0.5rem;
}

#footer .row .cards{
    color: #80A4B6;
}

#footer .row .cards p{
    padding: 0.3rem;
}

.link:hover{
    color: #fff;
    cursor: pointer;
}

hr{
    background: #80A4B6;
    padding: 0.009rem;
}

#footer .social{
    padding:1rem 0rem;
    display: flex;
    justify-content: space-between;
}

#footer .social .social-media ul li{
    display: inline-block;
    font-size: 2.5rem;
    color: #80A4B6;
    padding: 0rem 0.5rem;
}
#footer .social .social-media ul li:hover{
    color: #fff;
    cursor: pointer;
}

#footer .final-footer ul li{
    display: inline-block;
    color: #80A4B6;
    padding: 0rem 0.5rem;
}

#footer .final-footer ul li:hover{
    color: #fff;
    cursor: pointer;
}

#footer .final-footer ul{
    display: flex;
    justify-content: flex-end;
    padding-bottom: 2rem;
}
















